.container {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scroll-behavior: smooth;
  height: 100%;
}

.header-row {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

.header-row .box {
  /* padding: 30px; */
  margin-left: 30px;
  margin-right: 30px;
  color: aliceblue;
}

.header-row li {
  display: inline;
  padding: 10px;
  font-size: large;
}

.header-row a {
  text-decoration: none;
  color: aliceblue;
}

.header-row a:hover {
  text-decoration: underline;
}

.row {
  padding: 100px;
  height: 75%;
  /* margin-top: 100px; */
}

.row .box {
  padding: 20px;
  margin: 10px;
}

.footer {
  padding: 20px;
  margin: 0px;
  background-color: black;
  color: white;
  font-size: large;
}

button {
  background-color: teal;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10%;
}
.row1 .box img{
  border-radius: 400px;
}
.row1 .box1{
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  margin-top: 60px;
}
.row1 {
  padding: 100px;
  height: 50%;
}